*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Quicksand", sans-serif;
}
nav{
    background: #103A21;
    padding: 5px 20px;
}
ul{
    list-style-type: none;
    
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
.menu li{
    font-size:18px;
    padding:15px 3px;
}

.menu li a{
    display: block;
}
.Language{
    position: absolute;
    Right:20px;
    font-size:35px;
    padding:15px 5px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order:1;
}
.item.button{
    order:2;
}
.item{
    width:100%;
    text-align: center;
    order:3;
    display: none;
}
.item.active{
    display: block;
}

.toggle{
    cursor: pointer;
}
.bars{
    background: white;
    display: inline-block;
    height: 3px;
    width: 25px;
    position: relative;
}
.bars::before,.bars::after{
    background: white;
    display: inline-block;
    content: "";
    height: 3px;
    width: 25px;
    position: absolute;
}
.bars::before{
    top: 6PX;
}
.bars::after{
    top: -6.5PX;
}